body {
  background-image: url('../public/iconos-ventanas/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.desktop-icons {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.icon-wrapper {
  display: inline-block;
  position: absolute;
}

.icon-wrapper img {
  width: 55px;
  height: 55px;
  transition: transform 0.2s ease-out;
  cursor: pointer;
}

.icon-wrapper img:hover {
  transform: translateY(-5px) scale(1.1);
}

.start-button {
  position: absolute;
  bottom: -7px;
  left: 0px;
  cursor: pointer;
  z-index: 3;
}

.start-button img {
  width: 150px;
}

.blue-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #236ad4;
  z-index: 1;
}

.clock {
  position: absolute;
  bottom: 5px;
  right: 20px;
  color: white;
  font-size: 18px;
  z-index: 2;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden; /* Evitar scroll lateral */
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #236ad4;
  padding: 10px;
  color: white;
}

.windows-icon {
  width: 20px;
  height: 20px;
}

.close-button {
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.modal-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-content h2 {
  color: black;
  margin-bottom: 20px;
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content li {
  margin-bottom: 10px;
}

.modal-content a {
  color: #236ad4;
  text-decoration: none;
}

.modal-content a:hover {
  text-decoration: underline;
}

.form-modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-modal-content input,
.form-modal-content textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.form-modal-content button {
  padding: 10px;
  background-color: #236ad4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-modal-content button:hover {
  background-color: #1e5cb8;
}

.notification {
  position: absolute;
  bottom: 110px; /* Colocado justo encima de la barra azul */
  left: 1100px;
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slide-up 1s forwards;
  z-index: 4; /* Asegúrate de que esté por encima de otros elementos */
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #236ad4;
  width: 245%;
  padding: 2px;
  color: white;
}

.notification-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.notification img {
  width: 250%;
  height: auto;
}

@keyframes slide-up {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
