.shutdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.shutdown-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
