.start-menu {
  position: absolute;
  bottom: 0;
  right: 67.5em;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: slide-up 1s forwards;
  z-index: 5; /* Asegúrate de que esté por encima de otros elementos */
}

.ventana-image {
  width: 600px; /* Ajusta según sea necesario */
  height: auto;
  position: relative;
}

.logout-button {
  position: absolute;
  bottom: 5px; /* Ajusta según sea necesario */
  left: 10px; /* Ajusta según sea necesario */
  width: 96px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.shutdown-button {
  position: absolute;
  bottom: 50px; /* Ajusta según sea necesario */
  right: 20px; /* Ajusta según sea necesario */
  width: 80px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 15px; /* Ajusta según sea necesario */
  left: 150px; /* Ajusta según sea necesario */
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Media Queries */
@media (max-width: 576px) {
  .start-menu {
    bottom: 0;
    right: 0;
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    justify-content: center;
  }

  .ventana-image {
    width: 110%; /* Ajusta el ancho para pantallas pequeñas */
    height: auto;
  }

  .logout-button {
    bottom: 5px; /* Ajusta según sea necesario */
    left: 5px; /* Ajusta según sea necesario */
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
  }

  .shutdown-button {
    bottom: 35px; /* Ajusta según sea necesario */
    right: 5px; /* Ajusta según sea necesario */
    width: 70px; /* Ajusta el tamaño según sea necesario */
    height: 25px; /* Ajusta el tamaño según sea necesario */
  }

  .close-button {
    top: 10px; /* Ajusta según sea necesario */
    left: 120px; /* Ajusta según sea necesario */
    font-size: 14px; /* Ajusta el tamaño del texto */
    padding: 3px; /* Ajusta el tamaño del botón */
  }
}
